@import './variables.scss';
$rowHeight: 14px;
$appHeaderHeight: 25px;
$appHeaderMenuPadding: 0 5px;
$widgetIconSize: 14px;
$widget-window-button-size: 14px;
$widget-window-header-height: 22px;
$inputHeight: 20px;
$mdTabsHeight: 25px;

app-js-panel {
  position: absolute;

  .jsPanel {
    box-shadow: var(--common-settings-widget-shadow);
    background: transparent !important;

    .fa-expand {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: rotate(90deg);
      color: var(--common-settings-widget-resizer-color);
    }

    .jsPanel-hdr {
      background: $widget-header-background !important;
      color: var(--background-contrast-color);
      border-bottom: $widget-border;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      display: flex;
      min-height: 26px;
      font-family: inherit;
      padding: 2px 0 4px 2px;
      font-size: inherit;

      .jsPanel-controlbar {
        align-items: unset;
      }

      .jsPanel-headerbar,
      .jsPanel-titlebar {
        min-height: unset;
      }

      .jsPanel-titlebar {
        height: unset;
      }

      .jsPanel-title {
        min-height: 20px;
        font-family: inherit;
        margin: 0;
        font-size: inherit;
        width: 100%;
        margin: 0;
        padding: 0 5px;

        header {
          font-size: var(--widget-header-font-size);
          font-weight: bold;
          font-variant: normal;
          margin-top: 3px;
        }
      }

      &.minimize {
        display: none;
      }
    }

    .jsPanel-titlebar .jsPanel-title {
      color: inherit;
    }

    .jsPanel-content {
      font-size: inherit;
      font-family: inherit;
      background-color: var(--background-color) !important;
      color: var(--background-contrast-color) !important;
      display: flex;
      flex-direction: row;
      border-left: $widget-border;
      border-right: $widget-border;
      border-top: none;
      border-bottom: $widget-border;

      content {
        width: 100%;
      }
    }

    .jsPanel-btn-normalize {
      margin-right: 5px;
      padding: 0;
      width: 14px !important;

      > svg {
        width: 14px !important;
        height: 14px !important;
      }
    }

    .jsPanel-btn-minimize {
      padding-top: 1px; // Mike think that "minimize" icon higher than "close", so I added padding.
    }

    .widgetOption {
      background: $widget-options-background;
      border-radius: 50%;
      width: 18px;
      height: $header-button-height;
      min-width: 18px;
      min-height: $header-button-height;
      text-align: center;
      margin-right: 5px;
      line-height: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      .fa {
        font-size: 8px;
        line-height: 18px;
        color: $widget-options-fa-color;
      }
    }

    .jsPanel-btn-header {
      height: $header-button-height;
      background-color: $header-button-color;
      border: 1px solid;
      border-color: $header-button-border-color;
      border-radius: $header-button-border-radius;
      padding: 0 15px;
      display: inline-flex !important;
      flex-flow: row nowrap !important;
      align-items: center;
      margin-right: 5px;
      line-height: 18px;
      font-size: var(--widget-header-button-font-size);
      cursor: pointer;

      .title {
        padding-left: 5px;
        font-weight: bold;
        line-height: inherit;
        font-size: 80%;
      }

      > * {
        flex: 0 0 auto !important;
      }
    }

    @media screen and (max-width: 1400px) {
      .jsPanel-resizeit-handle {
        &.jsPanel-resizeit-se {
          height: 36px;
          width: 36px;
        }
      }
    }
  }
}

/*dense-mode*/
.dense-mode {
  ftxc-js-panel {
    .jsPanel {
      .jsPanel-hdr {
        box-shadow: none;
        border: $widget-border;
        min-height: $widget-window-header-height;
        padding: 0;
        height: 24px;

        .jsPanel-title {
          header {
            font-size: var(--general-font-size);
            display: flex;
            margin-top: 0;
            height: $widget-window-header-height;
            align-items: center;
          }
        }

        .jsPanel-btn-normalize {
          width: 13px;
          height: 13px;
          min-width: 13px;
          min-height: 13px;
        }
      }

      .jsPanel-hdr-r {
        top: 3px;
        display: flex;
      }

      .widgetOption {
        width: $widget-window-button-size;
        height: $widget-window-button-size;
        min-width: $widget-window-button-size;
        min-height: $widget-window-button-size;
        margin-right: 3px;
        background: none;

        .fa {
          line-height: inherit;
        }
      }

      .jsPanel-btn-header {
        height: $widget-window-button-size + 1px;
        line-height: calc(#{"var(--general-font-size) + 4px"});
      }

      .jsPanel-btn .jsPanel-icon {
        width: 90%;
        height: 90%;
        margin: auto;
        padding: 0;
      }
    }
  }
}
